# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "41d31838e05e4154fb75a6ccab558239"
name = "POS Stock"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_inventory,read_inventory_transfers,read_locations,read_products,write_inventory,write_inventory_shipments,write_inventory_shipments_received_items,write_inventory_transfers"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
